

venv/
myenv/
.env

# Datasets
data/test/
data/train/
data/val/
datasets/
checkpoints/
*.h5
*.pt
*.pth

# IDE
.vscode/
.idea/
*.user
*.suo

# OS
.DS_Store
Thumbs.db
ml/ignored

ml/logs
ml/data/test/
ml/data/train/
ml/data/val/
!ml/data/price_training_data.csv
.venv/

frontend/node_modules


ml/zips
ml/test
.next/
